{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/css/styles.css' %}">
    <title>To do List</title>
</head>
<body>
    <div id='content'>
        <h1>To do List</h1>
    
        <!-- Aquí debe ir formulario y lista (Todo el contenido)-->

        <form class='content-forms'>
            <label>¿Something to do?</label>
            <input />
            <button>Add</button>
        </form>
        

                       
        <ul> <b>Pending</b> <hr>
            {% for todolist in todo_items %}
                {% if todolist.completed %}
                <li class='lista-item lista-completado'>{{todolist.text}}</li>
                {% else %}
                <a href="#"><li class='lista-item'>{{todolist.text}}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
        

        <footer>Developed by Iván Rojas</footer>
    </div>
    
    
</body>
</html>