{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/css/estilos.css' %}">
    <title>To do List</title>
</head>
<body>
    <div id='content'>
        <div id='content-header'><h1>To do List</h1></div>
    
        <!-- Aquí debe ir formulario y lista (Todo el contenido)-->
        <div id='content-body'>
            <div class='section'>
                <form class='content-forms'>
                    <label>¿Something to do?</label>
                    <input id='form-input'>
                    <button>Add</button>
                </form>
            </div>
            <div class='section'>
                
                <ul> <b>Pending</b> <hr>
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                </ul>
            </div>

        </div>

        <div id='content-footer'>Developed by Iván Rojas</div>
    </div>
    
    
</body>
</html>