body {
    background-color: rgb(255, 209, 209);
    margin: auto;
    padding: 10px;
    font-family: 'Lucida Sans';
    
}

#content {
    background-color: bisque;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 80%;
}

#content h1 {
    text-align: center;
}

#content form{
    text-align: center;
}

#content form button{
    background-color: red;
    color: white;    
    padding-left: 10px;
    padding-right: 10px;    
    border-radius: 5px;
    border-style: none;
}

.lista-item{   
    padding: 5px;
    border-radius: 5px;
}

.lista-completado{
    background-color: green;
    color: white;
}

footer{
    text-align: center;
}


